<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- linui -->
    <link href="dist/css/linui.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="bs-example-navbar-collapse-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><strong> LinUI </strong></a>
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
          <ul class="nav navbar-nav">
            <li><a href="index.html" tittle="topic"><i class="icon-home"></i> 首页 </a></li>
            <li><a href="topic.html" tittle="topic"><i class="icon-thumbs-up"></i> 话题社 </a></li>
            <li><a href="blog.html" tittle="blog"><i class="icon-bullhorn"></i> 博客园 </a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" tittle="topic">
                <i class="icon-cogs"></i> 学海无涯  
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="topic.html">话题社</a></li>
                <li><a href="blog.html">博客园</a></li>
              </ul>
            </li>
            <li><a href="about.html" tittle="topic"><i class="icon-coffee"></i> 关于 </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signin.html"><i class="icon-signin"></i> 登录 </a></li>            
            <li><a href="signup.html"><i class="icon-edit"></i> 注册</a></li>
          </ul>
        </div>
        <!-- /.collapse navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- nav -->

    <header class="lin-page-header">
      <div class="container">
        <h1>博 客 园</h1>
        <p>Glassy sky above. As long as I'm alive, you will be part of me</p>
      </div>
    </header>
    <!-- header -->

    <div class="container">
      <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li class="active">博客园</li>
      </ol>
    </div>
    <!-- /.container -->

    <div class="container">
      <div class="row previews">
        <div class="col-md-8">
          <div class="thumbnail text-left">
            <div class="row">
              <div class="col-md-2">
                <img src="images/face/team04.jpg" class="img-circle lin-img-small"/>
              </div>
              <div class="col-md-10">
                <a href=""><strong>Jaye Smith</strong></a>
              </div>
              <div class="col-md-10">
                <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
                古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
                地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
              </div>
            </div>              
            <div class="row text-center">                          
              <div class="col-md-3">
                <hr> 
                <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
              </div>              
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
              </div>
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-share"></i> 转发 0</a>   
              </div> 
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
              </div>                                          
            </div>                    
          </div>
          <!-- /.thumbnail text-left -->
          <div class="thumbnail text-left">
            <div class="row">
              <div class="col-md-2">
                <img src="images/face/team03.jpg" class="img-circle lin-img-small"/>
              </div>
              <div class="col-md-10">
                <a href=""><strong>Michele Lampa</strong></a>
              </div>
              <div class="col-md-10">
                <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
                古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
                地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
              </div>
            </div>              
            <div class="row text-center">                          
              <div class="col-md-3">
                <hr> 
                <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
              </div>              
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
              </div>
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-share"></i> 转发 0</a>   
              </div> 
              <div class="col-md-3">
                <hr>
                <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
              </div>                                          
            </div>                    
          </div>
          <!-- /.thumbnail text-left -->
        </div>
        <div class="col-md-4 ">
          <div class="thumbnail text-left">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="blog.html"><i class="icon-plus-sign"></i> 微博首页</a>
              </li>
              <li class="active">
                <a href="blog-hot.html"><i class="icon-fire"></i> 近期热门微博</a>
              </li>
              <li>
                <a href="blog-hot-2.html"><i class="icon-star"></i> 近期热门微博</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <footer class="lin-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 footer-below">
            <ul class="list-inline">
              <li class="weibo"></li>
              <li class="qq"></li>
              <li class="wechat"></li>
            </ul>
          </div>
          <div class="col-lg-12 footer-below">
            <p>
              主题及模板来自<a href="http://startbootstrap.com/">Start Bootstrap</a> Written By Joizhang<br>
              Copyright © LinUI 2015
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="dist/js/jquery-1.11.3.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>