<header class="lin-page-header">
  <div class="container">
    <h1>博 客 园</h1>
    <p>Glassy sky above. As long as I'm alive, you will be part of me</p>
  </div>
</header>
<!-- header -->

<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li class="active">博客园</li>
  </ol>
</div>
<!-- /.container -->

<div class="container">
  <div class="row previews">
    <div class="col-md-8">
      <div class="thumbnail text-left">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="images/face/team04.jpg" class="img-circle lin-img-small"/>
          </div>
          <div class="col-md-10">
            <a href=""><strong>Jaye Smith</strong></a>
          </div>
          <div class="col-md-10">
            <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
            古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
            地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
          </div>
        </div>              
        <div class="row text-center">                          
          <div class="col-md-3">
            <hr> 
            <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
          </div>              
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
          </div>
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-share"></i> 转发 0</a>   
          </div> 
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
          </div>                                          
        </div>                    
      </div>
      <!-- /.thumbnail text-left -->
      <div class="thumbnail text-left">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="images/face/team03.jpg" class="img-circle lin-img-small"/>
          </div>
          <div class="col-md-10">
            <a href=""><strong>Michele Lampa</strong></a>
          </div>
          <div class="col-md-10">
            <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
            古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
            地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
          </div>
        </div>              
        <div class="row text-center">                          
          <div class="col-md-3">
            <hr> 
            <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
          </div>              
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
          </div>
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-share"></i> 转发 0</a>   
          </div> 
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
          </div>                                          
        </div>                    
      </div>
      <!-- /.thumbnail text-left -->
    </div>
    <div class="col-md-4 ">
      <div class="thumbnail text-left">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="blog.html"><i class="icon-plus-sign"></i> 微博首页</a>
          </li>
          <li>
            <a href="blog-hot.html"><i class="icon-fire"></i> 近期热门微博</a>
          </li>
          <li>
            <a href="blog-hot-2.html"><i class="icon-star"></i> 近期热门微博</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->