<header class="lin-page-header">
  <div class="container">
    <h1>首 页</h1>
    <p>一 花 一 世 界 一 叶 一 菩 提</p>
  </div>
</header>
<!-- header -->

<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li class="active">所有可能</li>
  </ol>
</div>
<!-- /.container -->

<div class="container">
  <div class="row previews">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/cake.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>首页</h3>
          <p>我的世界</p>
          <a href="index.html" class="btn btn-default"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/circus.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>话题社</h3>
          <p>畅所欲言</p>
          <a href="index.html" class="btn btn-default"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/submarine.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>博客园</h3>
          <p>点点滴滴</p>
          <a href="index.html" class="btn btn-default"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/catplane.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>飞机和猫</h3>
          <p>我的世界</p>
          <a href="coderepository/catplane/catplane.html" class="btn btn-default" target="_blank"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/flower.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>花</h3>
          <p>我的世界</p>
          <a href="coderepository/flowers/flowers.html" class="btn btn-default" target="_blank"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/spider.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>蜘蛛</h3>
          <p>我的世界</p>
          <a href="coderepository/spider/spider.html" class="btn btn-default" target="_blank"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail text-center">
        <a href="" class="post-image-link">
          <p><img src="images/clock.png" class="img-responsive" alt=""></p>
        </a>
        <div class="caption">
          <h3>时钟</h3>
          <p>我的世界</p>
          <a href="coderepository/workingclock/workingclock.html" class="btn btn-default" target="_blank"> Preview </a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 col-sm-6 -->
  </div>
</div>
<!-- /.container -->
