<header class="lin-page-header">
  <div class="container">
    <h1>话 题 社</h1>
    <p>有时候 有时候 我会相信一切有尽头</p>
  </div>
</header>
<!-- header -->

<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li class="active">话题社</li>
  </ol>
</div>
<!-- /.container -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="thumbnail text-left">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="images/face/team04.jpg" class="img-circle lin-img-small"/>
            <a href=""><strong>Jaye Smith</strong></a>
          </div>          
          <div class="col-md-10">
            <a href=""><strong>去西藏旅游是怎样一番体验？</strong></a>
          </div>
          <div class="col-md-10">
            <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
            古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
            地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
          </div>
        </div>              
        <div class="row text-center">                          
          <div class="col-md-3">
            <hr> 
            <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
          </div>              
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
          </div>
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-plus"></i> 关注话题 0</a>   
          </div> 
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
          </div>                                          
        </div>                    
      </div>
      <!-- /.thumbnail text-left -->
      <div class="thumbnail text-left">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="images/face/team03.jpg" class="img-circle lin-img-small"/>
            <a href="" ><strong>Michele Lampa</strong></a>
          </div>
          <div class="col-md-10">
            <a href=""><strong>去西藏旅游是怎样一番体验？</strong></a>
          </div>
          <div class="col-md-10">
            <p>西藏自治区（藏文：བོད་རང་སྐྱོང་ལྗོངས།，藏语拼音：Poi Ranggyong Jong，威利：Bod rang skyong ljongs），
            古称“蕃”，简称“藏”，首府拉萨，是中国五个少数民族自治区之一。[1] 位于中国青藏高原西南部，
            地处北纬26°50′至36°53′，东经78°25′至...<a href=""><i class="icon-plus"></i> 显示全部</a></p>
          </div>
        </div>              
        <div class="row text-center">                          
          <div class="col-md-3">
            <hr> 
            <a href="" class="bottom-bar"><i class="icon-calendar"></i> 2015年2月3号 </a>
          </div>              
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-comment"></i> 评论 0</a>  
          </div>
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-plus"></i> 关注话题 0</a>   
          </div> 
          <div class="col-md-3">
            <hr>
            <a href="" class="bottom-bar"><i class="icon-thumbs-up"></i> 赞 0</a>   
          </div>                                          
        </div>                    
      </div>
      <!-- /.thumbnail text-left -->
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-left">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="topic.html"><i class="icon-plus-sign"></i> 话题首页</a>
          </li>
          <li>
            <a href="topic-hot.html"><i class="icon-fire"></i> 热门话题</a>
          </li>
          <li>
            <a href="topic-related.html"><i class="icon-star"></i> 我关心的话题</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
</div>
<!-- /.container -->